{% extends "base.html" %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ user_creation_form.username.errors }}
            <label for="username">Usuário:</label>
            {{ user_creation_form.username }}
        </div>

        <div class="form-group">
            {{ user_creation_form.password1.errors }}
            <label for="password1">Password1:</label>
            {{ user_creation_form.password1 }}
        </div>

        <div class="form-group">
            {{ user_creation_form.password2.errors }}
            <label for="password2">Password2:</label>
            {{ user_creation_form.password2 }}
        </div>

        <div class="form-group">
            <input type="submit" value="Cadastrar">
        </div>
    </form>
{% endblock content %}