{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>PyCodeBR Cars</title>
</head>
<body>
    <header>
        <h1>{% block title %}{% endblock title %}</h1>
        <nav>
            <ul>
                <li>
                    <a href="{% url "car_list" %}">Carros</a>
                </li>
                <li>
                    <a href="{% url "new_car" %}">Cadsatrar Novo Carro</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock content %}
    </main>
    <footer></footer>
</body>
</html>