{% extends "base.html" %}
{% block title %}{{car.model}}{% endblock title %}

{% block content %}
<div class="container">
    <div class="car-detail">
        <div class="car-detail__image">
            <img src="{{ car.photo.url }}" alt="{{ car.model }}">
        </div>
        <div class="car-detail__info">
            <h1>{{ car.model }}</h1>
            <p><strong>Ano de Fabricação:</strong> {{ car.factory_year }}</p>
            <p><strong>Marca:</strong> {{ car.brand }}</p>
            <p><strong>Placa:</strong> {{ car.plate }}</p>
            <p><strong>Valor:</strong> R$ {{ car.value }}</p>
        </div>
        <div class="car-detail__buttons">
            {% if user.is_authenticated %}
                <a href="{% url "car_update" car.pk %}" class="button button--edit">Editar</a>
                <a href="{% url 'car_list' %}" class="button button--back">Voltar</a>
                <a href="{% url "car_delete" car.pk %}" class="button button--delete">Excluir</a>
            {% else %}
                <a href="{% url 'car_list' %}" class="button button--back">Voltar</a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}