{% extends "base.html" %}
{% block title %}PyCodeBR Cars{% endblock title %}
{% block content %}
<div class="container">
    <form method="get">
        <input type="text" name="s" placeholder="Digite o nome do carro" value="{{ request.GET.s }}">
        <button type="submit">Buscar</button>
    </form>
    <ul>
        {% for car in cars  %}
            <li>
                <a href="{% url "car_detail" car.pk %}">
                    <div>
                        <img src="{{car.photo.url}}" alt="{{car.model}}">
                    </div>
                    <div>
                        <h2>{{car.model}}</h2>
                        <div>
                            <span>{{car.factory_year}}</span>
                            <span>R${{car.value}}</span>
                        </div>
                    </div>
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}